name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:

      fail-fast: false
      matrix:

        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies

      run: |
        python -m pip install --upgrade pip
        pip install ruff pytest numpy vispy numba
        # Falls requirements.txt genutzt werden soll, Kommentar entfernen:
        # pip install -r requirements.txt

    - name: Lint with Ruff
      run: |
        ruff check . || true 

    - name: Test with pytest
      run: |
        pytest